{% extends 'base.html.twig' %}

{% block title %}Acceuil Jardin de la jouale{% endblock %}
{% block monTitle %}Jardin de la Jouale{% endblock %}

{% block body %}
<h1>Jardin de la jouale</h1>
{% endblock %}
